{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}



<div class="home-page-container flexed">

  <!-- {% image self.home_page_background_image fill-960x335 as homepage_bg_img %}
  <div class="home-page-top-bg-img" style="background: url('{{ homepage_bg_img.url }}');"></div> -->

  <div class="jumbotron flexed jumbotron-fluid">

    <h1 class="display-6 home-page-jumbotron-title">{{ self.page_title }}</h1>
    <!-- <p class="lead">{{ self.page_subtitle|richtext }}</p> -->
    <p class="home-page-jumbotron-description">{{ self.page_description|richtext }}</p>
    <p class="lead">

      {% if self.home_page_CTA_button %}
      <a class="big-btn-style home-page-view-work-btn" href="{{ self.home_page_CTA_button.url }}" role="button">
        {{ self.home_page_cta_button_label }}</a>
      {% else %}
      <p>No Button</p>
      {% endif %}

    </p>
  </div>
  
</div>



{% for block in page.all_block_content  %}
{% include_block block %}
{% endfor %}

{% endblock content %}

