{% load wagtailcore_tags wagtailimages_tags %}

<section class="large-jumbotron-section redborder mt-5">

    <div class="row blueborder large-jumbotron-columns-wrap">
        <div class="col-sm large-jumbotron-columns large-jumbotron-img blueborder"></div>
        <div class="col-sm large-jumbotron-columns blueborder"></div>
    </div>

    <!-- <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">{{ self.jumbotron_title }}</h1>
        <p class="lead">{{ self.jumbotron_text }}</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div> -->
</section>