/* 
=======
HELPERS
=======
*/
a {
    text-decoration: none;
}

.flexed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redborder {
    border: 1px solid red;
}

.blueborder {
    border: 1px solid blue;
}

.big-btn-style {
    width: 300px;
    padding: 10px 55px;
    border: 1px dashed #f7f7f7;
    color: #f7f7f7;
}

.big-btn-style-dark {
    width: 300px;
    padding: 10px 55px;
    border: 1px dashed #222;
    color: #222;
}

.artists-feature-columns-mobile,
.text-btn-wrap-mobile {
    display: none;
}

body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: #222;
    color: #f7f7f7;
    font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* 
======
NAVBAR
======
*/

nav {
    background-color: transparent;
    box-shadow: none;
    padding: 0px 52px;

}

.nav-wrapper {
    height: 100%;
}

.navbar-logo-link {
    background-size: contain;
}


/* 
======
FOOTER
======
*/

.main-footer {
    height: 200px;
    padding: 0px 52px;
}

.footer-links-wrap {
    height: 100%;
    justify-content: space-between;
}

.footer-links {
    height: 150px;
    width: 150px;
    border: 2px dashed #f7f7f7;
    border-radius: 50%;
}



/* 
========================
HOME PAGE JUMBOTRON AREA
========================
*/

.home-page-container {
    height: calc(100% - 64px);
    color: #f7f7f7;

}



.jumbotron {
    position: relative;
    width: 960px;
    height: 335px;
    height: fit-content;
    flex-flow: column;
    padding: 25px 0px;
    border-top: 2px dashed #f7f7f7;
    border-bottom: 2px dashed #f7f7f7;
}

.home-page-jumbotron-title {
    font-family: 'Bebas Neue', cursive;
    margin: 0;

}

.home-page-top-bg-img {
    width: 960px;
    height: 335px;
    position: absolute;
    filter: brightness(20%);
}

.jumbotron p {
    text-align: center;
    margin: 15px 0px;
    width: 65%;
    font-weight: 200 !important;
}

/* 
=============
ART CARD AREA
=============
*/

.art-cards-wrap {
    width: 100%;
    height: calc(100vh - 64px);
    flex-wrap: wrap;
}

.art-cards {
    position: relative;
    border-radius: 0;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    color: #f7f7f7;
    border: none;
    border-left: 0.5px dashed #222;
    border-right: 0.5px dashed #222;
    box-shadow: none;

}



.hidden-info-card {
    /* top: 0; */
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #f7f7f741;
    backdrop-filter: blur(10px);
    opacity: 0;
    flex-flow: column;
    z-index: 100;
}

.art-card-title {
    bottom: 0px;
    left: 10px;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 5px;
    position: absolute;
    color: #222;
}

.hidden-info-text-btn-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-flow: column;
    padding: 0px 15px;
    color: #222;
    font-size: 1.7rem;
    font-weight: 600;
    /* justify-content: space-evenly; */
}

.art-card-store-btn {
    background-color: rgb(116, 182, 116);
    color: #222;
    padding: 5px 25px;
    font-weight: 400;
    font-size: 1.3rem;
}



.card-content p {
    color: #222;
}



.home-page-art-title {
    text-align: center;
}

/* 
======================
ARTIST FEATURE SECTION
======================
*/

.artist-feature-section {
    height: 100vh;
    flex-wrap: wrap;
    padding: 15px 52px;

}

.artists-feature-columns {
    display: flex;
    height: 100%;
}

.artist-feature-img-wrap {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.artist-feature-description-wrap {
    flex-flow: column;
    padding: 15px;
}

.artist-description-text {
    flex-flow: column;
    margin: 30px 0px;

}

.artist-description-text p {
    font-weight: 300;
}

.artist-feature-description-wrap span {
    width: 75%;
}



/* 
===========
CTA SECTION
===========
*/

.cta-wrap {
    height: 350px;
    padding: 0px 52px;
    margin-top: 100px;
    color: #222;
}

.text-btn-wrap {
    height: 100%;
    flex-flow: column;
    background-color: #f7f7f7;
}

.text-btn-wrap p {
    width: 50%;
}

.cta-img {
    height: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

/* 
================
HOVERS AND STUFF
================
*/


.art-cards>.hidden-info-card:hover {
    opacity: 1;
    transition: 0.5s ease;

}

@media (max-width: 1385px) {

    .artists-feature-columns,
    .text-btn-wrap {
        display: none;
    }

    .artist-description-text {
        width: 65%;
    }

    .artists-feature-columns-mobile {
        position: relative;
        display: flex;
        height: 100%;
        flex-flow: column;
        overflow: hidden;

    }

    .arize-img {
        /* width: 100%; */
        height: 100%;
        filter: brightness(30%);

    }

    .cta-mobile {
        position: absolute;
        flex-flow: column;

    }


}

@media (max-width: 450px) {
    .artist-feature-section {
        padding: 0px;
    }

    .artist-description-text {
        display: none;
    }

    .home-page-view-work-btn {
        margin-top: 25px;
    }

    nav {
        padding: 0;
    }

    .cta-wrap {
        padding: 0;
    }

    .text-btn-wrap-mobile {
        display: flex;
        width: 100% !important;
        height: 100%;
        flex-flow: column;
        background-color: #f7f7f7;
    }

    .text-btn-wrap-mobile p {
        text-align: center;
        width: 90%;

    }
}