{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}


{% block content %}


<div class="container">
    {% for product in products  %}
    <div class="row">
        <div class="col-sm-4">
            {% image product.product_image fill-250x250 as product_img %}
            <a href="{{ product.url }}">
                <img src="{{ product_img.url }}" alt="{{ product_img.alt }}">

            </a>
        </div>
        <div class="col-sm-8">
            <a href="{{ product.url }}">
                {{ product.custom_title }}

            </a>
        </div>



    </div>{% endfor %}
</div>

{% endblock content %}